.App {
  margin: 0 50px;
}

#mainHeader {
  display: flex;
  justify-content: space-around;

  background-color: aqua;
  height: 50px;
  padding-top: 20px;
  font-size: 20px;
}
#mainHeader > a {
  text-decoration: none;
  color: black;
}