h1 {
  text-align: center;
  color: #00b3b3;
  font-size: 45px;
}

.heroCardsBlock {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.heroCardsBlock > a{
  width: 30%;
  margin: 30px 20px;
  text-decoration: none;
  color: #008080;
}
.heroCard > h3 {
  text-align: center;
  font-size: 25px;
}
.avatar {
  width: 300px;
  display: block;
  margin: 0 auto;
}

.buttonsBlock {
  display: flex;
  justify-content: center;
}
.buttonsBlock > button {
  margin: 30px 20px;
  width: 40px;
  font-size: 30px;
  background-color: #009900;
  border: none;
  cursor: pointer;
  color: #ccffcc;
  font-weight: bold;
}